
import java.util.Scanner;

class Atm {


    static Scanner sc1 = new Scanner(System.in);
    static double accountBalance = 5000;
    static int pin;
    static int r500;
    static int r100;


    static {
        System.out.println("Select your langauge");
        System.out.println("1:English /n 2:Hindi /n 3:Marathi");
        int choice = sc1.nextInt();
        if (choice == 1) {
            System.out.println("selected lanaguage English");

        } else if (choice == 2) {
            System.out.println("selected lanaguage Hindi");
        } else if (choice == 3) {
            System.out.println("selected lanaguage Marathi");


        } else {
            System.exit(0);
        }

    }

    static {
        System.out.println("Enter your pin");
        pin = sc1.nextInt();
    }


    public static void main(String[] args) {
        System.out.println("enter your pin");
        if (pin == 12345) {
            System.out.println("1:withDraw amt /n 2:CheckBalace /n 3:Change Pin");
            int choice = sc1.nextInt();

            if (choice == 1) {
                System.out.println("eneter your amt");
                int amt = sc1.nextInt();
                withDraw(amt);

            } else if (choice == 2) {
                checkbalane();
            } else if (choice == 3) {
                System.out.println("enter your new pin");
                int newpin = sc1.nextInt();
                cheangepin(newpin);
            } else {
                System.out.println("Invalid Transaction");
            }
        } else {
            System.out.println("incorect pin");
        }
    }

    static void withDraw(int amt) {
        if (amt <= accountBalance) {
            accountBalance -= amt;

            System.out.println("Rs. is Debited from Account:" + amt);
        } else {
            System.out.println("insufficient balance");
        }
        checkbalane();
        System.out.println("Note Description");
        r500 = amt / 500;
        amt = amt % 500;
        System.out.println("500 Rs Note:" + r500);
        r100 = amt / 100;
        amt = amt % 100;
        System.out.println("100 Rs Note:" + r100);


    }

    static void checkbalane() {
        System.out.println("Active Balance:" + accountBalance);
    }

    static void cheangepin(int newpin) {
        pin = newpin;
        System.out.println("pin number change Successfully");
    }
